.container {
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.container label {
    font-size: 18px;
}

.container form {
    background: #2fcc9a;
    border: 2px solid #228e6c;
    border-radius: 20px;
    padding: 10px 10px;
}

#task {
    width: 70%;
    padding: 9px;
    margin: 10px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: darkmagenta;
}
p {
    font-size: 20px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

button {
    background: red;
    border: 2px solid darkred;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

button:hover {
    background: orange;
}

.border button {
    padding: 7px 15px;
    position: relative;
    float: right;
    margin-top: -5px;
}

button:disabled:hover {
    background: #707070;
    border: 2px solid #706080;
}

.border button a {
    text-decoration: none;
    color: black;
}

.menu {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #454732;
    display: table;
    width: 100%;
    border: 2px solid silver;
    border-radius: 20px;
}

.menu ul {
    width: 80%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.menu ul #last_item {
    border-right: 0;
}

.menu ul li {
    width: 20%;
    border-right: 1px solid #707070;
    display: inline;
    vertical-align: baseline;
}

.menu ul li a {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.1em;
    font-weight: 600;
}

.menu ul li a:hover {
    color: #FF7D4C;
}

.border {
    list-style: none;
    padding: 20px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
    -2px -2px 5px 0 rgba(0, 0, 0, .1),
    2px 2px 5px 0 rgba(0, 0, 0, .1),
    -2px 2px 5px 0 rgba(0, 0, 0, .1);
    width: 60%;
    font-size: 20px;
}